{% assign books = site.data.data.books %}
{% if books %}
  <div class="languages-container container-block">

    <h2 class="container-block-title">
      {{ books.title }}
    </h2>

    <ul class="list-unstyled interests-list">
      {% for book in books.papers %}
      <div  class="item">
        <li>
          <a href="{{ book.link }}">{{ book.title }}</a></li>

          <span class="lang-desc">{{ book.authors }}</span>
        </li>
      </div>
      <br/>

      {% endfor %}
    </ul>

  </div><!--//interests-->
{% endif %}
